.grab {
  max-width: 900px;
  width: 70%;
  height: 100%;
  margin: 1rem auto;
}

.container {
  min-height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-group {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.input-group button {
  all: unset;
  width: 80%;
  font-size: 1.5rem;
  border-radius: 15px;
  padding: 1rem;
  text-align: center;
  background-color: #415c78;
  color: white;
  cursor: pointer;
  box-shadow: 0px 1px gray;
}

#upload {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border: 1px solid black;
}

#image-canvas {
  max-width: 450px;
  max-height: 450px;
  display: none;
}

#output {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.outer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
}

.display-image {
  max-width: 90%;
  min-height: 240px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px black;
}

.wrapper {
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  overflow: hidden;
  cursor: pointer;
}

.color {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  box-shadow: 0 3px rgba(0, 0, 0, 0.7);
}

.hex {
  font-size: 0.7rem;
  padding: 0.3rem;
  border-radius: 5px;
}

@media screen and (max-width: 480px) {
  .input-group button {
    font-size: 1rem;
  }
}
