.footer-container {
  position: fixed;
  top: 30%;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 2rem;
  box-shadow: 0 0 5px gray;
  border-radius: 0 10px 10px 0;
  gap: 1rem;
}

.footer-container span {
  writing-mode: vertical-rl;
  text-orientation: upright;
  white-space: nowrap;
}

.social {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  .footer-container {
    position: relative;
    flex-direction: row;
    border-radius: 0;
  }

  .footer-container span {
    writing-mode: horizontal-tb;
    text-orientation: upright;
    white-space: nowrap;
  }

  .social {
    flex-direction: row;
    gap: 1rem;
  }
}
